body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nanum Gothic', 'NanumGothic', 'Malgun Gothic', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input, select, button, textarea, option {
  font-family: inherit;
  vertical-align: middle;
  display: inline-block;
}

button {
  &:hover {
    cursor: pointer;
    outline: none;
  }
}

.asideContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  border-right: 1px solid #ddd;
  overflow: auto;
  background: #fff;
}

.formContainer {
  position: fixed;
  top: 0;
  left: 251px;
  bottom: 0;
  right: 0;
  background: #fff;
}